;
[rancher]
[rancher-dev]
[rancher-bastion]
[rancher-server]
[rancher-agent]

[cloudformation]
localhost ansible_connection=local ansible_python_interpreter=python2

[rancher:children]
rancher-dev

[rancher:vars]
ansible_ssh_user=ubuntu

[rancher-dev:children]
cloudformation
rancher-bastion
rancher-server
rancher-agent

[rancher-bastion:children]
tag_nuxeo-ansible-group_rancher-dev-bastion

[rancher-server:children]
tag_nuxeo-ansible-group_rancher-dev-rancherserver

[tag_nuxeo-ansible-group_rancher-dev-bastion]
[tag_nuxeo-ansible-group_rancher-dev-rancherserver]


[rancher-agent:children]
{% for name,agent in rancher_agent_clusters.iteritems() %}
rancher-agent-{{name}}
{% endfor %}

{% for name,agent in rancher_agent_clusters.iteritems() %}
[rancher-agent-{{name}}:vars]
agent_profile={{name}}
[rancher-agent-{{name}}:children]
tag_nuxeo-ansible-group_rancher-dev-rancheragent-{{name}}

[tag_nuxeo-ansible-group_rancher-dev-rancheragent-{{name}}]

{% endfor %}