Host 10.0.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  User ubuntu
  ProxyCommand ssh -W %h:%p ubuntu@{{hostvars[groups['rancher-bastion'][0]]['ec2_ip_address']}}
  IdentityFile ~/.ssh/id_rsa

Host  {{hostvars[groups['rancher-bastion'][0]]['ec2_ip_address']}}
  StrictHostKeyChecking no
  Hostname  {{hostvars[groups['rancher-bastion'][0]]['ec2_ip_address']}}
  IdentityFile ~/.ssh/id_rsa
  User ubuntu
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m
